[submodule "gke-tutorials"]
	path = gke-tutorials
	url = git@github.com:nao0515ki/kubernetes-engine-samples.git
[submodule "gcp-ruby"]
	path = gcp-ruby
	url = https://github.com/GoogleCloudPlatform/getting-started-ruby.git
